#schermata-sandbox {
    background-color: #1a1a1a;
    color: #e0e0e0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

fieldset { 
    border: 1px solid #444; 
    padding: 15px; 
    border-radius: 8px; 
    background-color: #2d2d2d; 
    color: #fff;
    width: 300px;
}

.input-stats { display: none; } 
.val-perk, .val-item { display: none; } /* Nascosti di default */

input, select {
    background-color: #3d3d3d;
    color: #fff;
    border: 1px solid #555;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 15px 30px; 
    font-size: 20px;
    background: #4cd137;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #000;
}

.info-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 50%;
    cursor: help;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.info-icon:hover {
    background-color: #4cd137; /* Colore di accento al passaggio del mouse */
}